#editor-box {
    display: flex;
    background-color: rgb(23, 162, 184);
    /*for future features:*/
    /*overflow: visible;*/
    /*min-width: fit-content;
    /*the max-width below makes the container adjust, but then messes up textarea width*/
    /*max-width: fit-content;*/
  }

  #box-toolbar {
    background-color: rgb(23, 162, 184);
  }
 
  .arrows-icon:hover, .arrows-icon:focus {
    color: yellow;
    transition: 0.25s;
    outline: none;
  }

  textarea {
    resize: none;
  }

  @media only screen and (max-width: 575px){
    #editor-box {
      border-radius: 0.25rem;
      width: 100%;
    } 
  }