#preview {
    background: rgb(97, 208, 208);
    padding: 20px 25px;
    width: 97%;
  }

/*used in codepen version:*/
  /*.fas:hover, .fas:focus {
    color: yellow;
    transition: 0.25s;
    outline: none;
  }*/